<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span12 data-block">
    <header>
      <h2><i class="icon-file-text-alt"></i> <%= t 'admin.pages.Title' %></h2>
    </header>
    <section>
      <h3><%= t '.Edit_page' %></h3>
      <%= render 'form' %>
    </section>
  </article>
  <!-- /Data block -->
</div>