<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span12 data-block">
    <header>
      <h2><i class="fa fa-calendar"></i> Tidsbokning</h2>
    </header>
    <section>
      <h3>Ny tid</h3>
      <%= render 'form' %>
    </section>
  </article>
  <!-- /Data block -->
</div>