<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span12 data-block">
    <header>
      <h2><i class="icon-reorder"></i> Sidhantering</h2>
    </header>
    <section>
      <h3>Ny sida</h3>
      <%= render 'form' %>
    </section>
  </article>
  <!-- /Data block -->
</div>