<header>
  <h2><i class="fa fa-envelope-o"></i> <%= t 'admin.email.Title' %></h2>
</header>
<section>
  <h5>Preview</h5>
  <iframe src="<%= preview_admin_mail_path(params[:id]) %>" width="100%" height="700" frameBorder="0"></iframe>
</section>
