<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span8 data-block">
    <header>
      <h2><i class="icon-reorder"></i> Bilduppladdning</h2>
    </header>
    <section>
      <h3>Visa produkter</h3>
      
    </section>
  </article>
  <!-- /Data block -->
</div>