<strong>Din bild/bilder finns nu klara att beställa i webshopen.</strong><br>
Logga in med länken nedan för att beställa.

<p>
  <%= link_to 'Logga in med bildnummret', store_url_auth_url(@image) %>
</p>
