<% content_for(:tagline) do %> 
  <h1>Alla nyheter</h1>
<% end %>
<section class="mainContentWrap">
  <div class="container mainContent">
  	<div class="row-fluid">
  		<div class="span12">
  			<div class="row-fluid featuredContent">
  				
  				<%= debug @news %>
  						
  			</div>
  			<div class="row-fluid">
  				<div class="divider dotted clearfix"><span></span></div>
  			</div>
  		</div>
  	</div>
  </div>
</section>