<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span8 data-block">
    <header>
      <h2><i class="icon-sitemap"></i> <%= t 'admin.product_categories.Title' %></h2>
    </header>
    <section>
      <h3><%= t '.New_product_category' %></h3>
      <%= render 'form' %>
    </section>
  </article>
  <!-- /Data block -->
</div>