                </div> 
              </div>
	  
            </div>
            <!--end post content-->
            
          </div>
        </div>
      </div>
        
      <aside class="span3 sidebar">
        <%= render "cart" %>
        
        <%= render "customer_image" %>
        <%= render "payment_info" %>
      </aside> <!--end sidebar-->
    </div>
  </div>
</section>