                </div> 
              </div>
	  
            </div>
            <!--end post content-->
            
          </div>
        </div>
      </div>
        
      <aside class="span3 sidebar">
        <% partials.each do |partial| %>
        <%= render partial %>
        <% end %>  
      </aside> <!--end sidebar-->
    </div>
  </div>
</section>