<div class="widget widget_text">
  <h3>Betalningsinformation</h3>
  <p>Använd Payson för att enkelt och tryggt betala till oss. Med Payson kan du sätta in pengar med VISA, MasterCard samt internetbank (Swedbank, Handelsbanken, SEB och Nordea).</p>

  <p>Läs mer om Payson här: <a href="http://www.payson.se" target="_blank">www.payson.se</a></p>

  <p><a href="https://www.payson.se" title="Payson internetbetalningar" style="width:140px;height:42px;background:url('https://www.payson.se/sites/all/files/images/external/payson.png');float:left;text-indent:-9999px">Payson internetbetalningar</a><br clear="all"></p>


  <h3>Beställningsinformation</h3>
  <div class="textwidget">
  	<p>Gör din beställning här och få ditt barns bild levererad hem till dig direkt hem i brevlådan inom 2 veckor. Du som beställer via webbshoppen får bättre priser, snabbare leverans.</p>
	<p>Din provbild aktiveras på hemsidan för 20 dagar för att få 10% rabatt den dagen förskolan eller skolan kan börja dela ut provbilderna. Du borde även hinna ta del av rabatten om ditt barn har varit ledigt en vecka och får provbilden lite senare.</p>
  	</p>
  </div>
</div>
