<% content_for(:tagline) do %> 
  <h1>Beställ bilder</h1>
<% end %>

<%= render partial: 'content_top' %>

<h2>Lyckat köp</h2>
<p>Ditt köp lyckades och du kommer snart få dina bilder hemskickade.</p>

        	    
<%= render partial: 'content_bottom', locals: {partials: %w[payment_info]} %>